<body>
<div class="main">
  <div class="rows">
    <h1>BeerAdvocate</h1>
    <a href="https://www.beeradvocate.com/about/">About</a><hr>
    <a href="https://www.beeradvocate.com/members/">Community</a><hr>
    <a href="https://www.beeradvocate.com/events/">Events</a><hr>
    <a href="https://www.beeradvocate.com/sponsorship/">Sponsorship</a><hr>
  </div>
  <div class="rows">
    <h1>Contribute</h1>
    <a href="https://www.beeradvocate.com/forms/add-beer/">Add a Beer</a><hr>
    <a href="https://www.beeradvocate.com/toolbox/add_place/">Add a Place</a><hr>
    <a href="https://www.beeradvocate.com/forms/events/">Add an Event</a><hr>
    <a href="https://www.beeradvocate.com/community/threads/how-to-claim-your-place.553982/">Claim Your Place</a><hr>
    <a href="https://www.beeradvocate.com/events/">Attend a Beer Event</a><hr>
    <a href="https://www.beeradvocate.com/society/">Join the Respect Beer Society</a><hr>
    <a href="https://store.beeradvocate.com/">Shop</a><hr>
  </div>
  <div class="rows">
    <h2>Connect</h2>
    <a href="https://twitter.com/beeradvocate">Twitter</a><hr>
    <a href="https://www.instagram.com/beeradvocate/">Instagram</a><hr>
    <a href="https://www.facebook.com/beeradvocate/">Facebook</a><hr>
    <a href="https://www.beeradvocate.com/contact/">Contact</a><hr>
    <a href="https://www.beeradvocate.com/community/threads/frequently-asked-questions-faq.444392/">Help</a><hr>
  </div>
  <div class="rows">
    <h1>Independent Beer</h1>
    <p>BeerAdvocate is a proud supporter of independent craft brewers.</p>
    <p>We encourage you to <a href="http://ba.click/seektadbe1">#seektheseal</a> and drink independent beer.</p>
    <a href="http://ba.click/seektadbe1"><img src="https://cdn.beeradvocate.com/im/brewers-association-independent-craft-brewer-seal-supporter.png" alt=""></a>
  </div>
</div>

</body>
