body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
  outline: 1px ;
  margin: 2em auto;
  background-color: #2b2b2b;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
