  <div class="Inner">
    <a href="https://www.beeradvocate.com/" id="adLogo">
    <img width="800" height="100px" alt="Angular Logo"  id="banner" src="https://www.bowiepubliclibrary.com/news-events/mtg-website-banner.jpg/@@images/image.jpeg">
    </a>
    <h2> BeerAdvocate: Your Go-To Resource for Beer. </h2>
      <div class="Grid">
        <div class="Discussion">Join the Discussion
            <a href="https://www.beeradvocate.com/community/threads/616763/">Stone Enjoy By 7-4-19</a>
            <p>Beer News & Releases</p>
            <a href="https://www.beeradvocate.com/community/threads/616713/">America's 40 Most Delicious Beers (USA Today)</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616663/">Best beer fests in America</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616083/">Belgian Dubbel Tasting - Saturday June 15th, 2019</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616657/">Is this the end of quaffing beer</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/615824/">16 oz vs 12 oz cans</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616779/">What Beer Are You Drinking Now? #2428</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616616/">Non-Alcoholic Craft Beer: Yea or Nay?</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616141/">Greetings from Troegs Variety 15-pack</a>
            <p>Beer News & Releases</p>
            <a href="https://www.beeradvocate.com/community/threads/562965/">Beer and diet</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616696/">Has Brut IPA already died...</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/615912/">Are retail stores struggling with craft beer in 2019?</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616702/">What Beer Are You Drinking Now? #2427</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/600927/">Post a picture of your latest beer haul (2019)</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/614388/">Styles that can *#@$ off!</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616525/">Lucky No. 13: Firestone Walker's Next Luponic Distortion Led by Custom-Grown Hop</a>
            <p>Beer News & Releases</p>
            <a href="https://www.beeradvocate.com/community/threads/612118/">Favorite Non-Adjunct BA Stouts</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/614921/">Styles You Want To Make A Comeback</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/615224/">The 25 Beers You Need to Try Before You Die</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616256/">Do you #SeekTheSeal when buying beer?</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/614465/">In Defense of Public Drinking</a>
            <p>Article Comments</p>
            <a href="https://www.beeradvocate.com/community/threads/616236/">Goose Island Bourbon County 2019</a>
            <p>Beer News & Releases</p>
            <a href="https://www.beeradvocate.com/community/threads/616426/">Bell's Leaves of Grass Series</a>
            <p>Beer News & Releases</p>
            <a href="https://www.beeradvocate.com/community/threads/594722/">God Bless Lagunitas</a>
            <p>Beer Talk</p>
            <a href="https://www.beeradvocate.com/community/threads/616519/">Hype Cycle vis-a-vis Craft Beer</a>
            <p>Beer Talk</p>
        </div>
        <div class="News">
          <a href="https://www.beeradvocate.com/articles/18050/in-defense-of-public-drinking/"><img max-width="820" height="400" src="https://cdn.beeradvocate.com/assets/uploads/2019/05/Unfiltered-PublicDrinkingChiYunLau-820x656.jpg" alt=""></a>
              <div class="Across">
                <a href="https://www.beeradvocate.com/articles/18054/the-other-side-of-the-hop-homebrewing-with-debittered-leaf/"><img height="130" max-width="400"  src="https://cdn.beeradvocate.com/assets/uploads/2019/05/BYOB_OtherSideOfTheHopEllenCrensaw-820x458.jpg" alt=""></a>
                <br>
                <a href="https://www.beeradvocate.com/articles/18054/the-other-side-of-the-hop-homebrewing-with-debittered-leaf/">The Other Side of the Hop: Homebrewing with Debittered Leaf</a>
                <br>
                <p>Concentrated hop products like Cryo Hops and Hop Hash from Yakima Chief Hops deliver on their promise of more aroma and flavor, but what of the subtler side of things? What about all of the other hop material that falls by the wayside in the pursuit of concentration?</p>
                <a href="https://www.beeradvocate.com/articles/18035/great-notion-opens-much-anticipated-second-location-in-northwest-portland/"><img height="130" max-width="400"  src="https://cdn.beeradvocate.com/assets/uploads/2019/03/bar-820x547.jpg" alt=""></a>
                <br>
                <a href="https://www.beeradvocate.com/articles/18035/great-notion-opens-much-anticipated-second-location-in-northwest-portland/">Great Notion Opens Much-Anticipated Second Location in Northwest Portland</a>
                <br>
                <p>Great Notion’s second location offers plenty of growing room for the three-year-old company, along with to-go coffee six days a week, an expanded menu, and most importantly, more beer.</p>
              </div>
              <div class="Down">
                <a href="https://cdn.beeradvocate.com/assets/uploads/2019/02/PATRICK-AND-ERIC_SUNCRUSH-150x150.jpg"><img src="https://cdn.beeradvocate.com/assets/uploads/2019/02/PATRICK-AND-ERIC_SUNCRUSH-150x150.jpg" alt=""></a>
              </div>
        </div>
        <div class="Ads">
          <a href="https://www.squarespace.com/"><img src="https://i.pinimg.com/474x/d2/d4/39/d2d4396ba683ca1bc06304e375c517f0--ad-design-design-magazine.jpg" alt=""></a>
          <div class="events">
            <h5 id="Pub">Popular Events</h5>
            <a href="https://www.beeradvocate.com/events/info/85465/">Belgian Dubbel Tasting</a>
            <p>06-15-2019 - 35 going</p>
            <a href="https://www.beeradvocate.com/events/info/85340/">FUNK Boston: A Wild & Sour Beer Fest</a>
            <p>06-14-2019 thru 06-15-2019 - 31 going</p>
            <a href="https://www.beeradvocate.com/events/info/85341/">IPA Fest: Brooklyn</a>
            <p>09-14-2019 - 18 going</p>
            <a href="https://www.beeradvocate.com/events/info/85349/">Great American Beer Festival (2019)</a>
            <p>10-03-2019 thru 10-05-2019 - 7 going</p>
            <a href="https://www.beeradvocate.com/events/info/85434/">Vleteren Craft Beer Festival</a>
            <p>07-06-2019 thru 07-07-2019 - 5 going</p>
            <a href="https://www.beeradvocate.com/events/info/85343/">L.A. Beer Week Kickoff Festival (2019)</a>
            <p>06-15-2019 - 5 going</p>
            <a href="https://www.beeradvocate.com/events/info/85481/">4th of July Southern Backyard BBQ</a>
            <p>07-04-2019 - 1 going</p>
            <a href="https://www.beeradvocate.com/events/info/85480/">Snallygaster 2019</a>
            <p>10-12-2019 - 1 going</p>
            <a href="https://www.beeradvocate.com/events/info/85477/">Ellerbe Fine Foods' Barrel Aged Reserve Beer Dinner with Martin House Brewing Co.</a>
            <p>06-19-2019 - 1 going</p>
            <a href="https://www.beeradvocate.com/events/info/85475/">Brews and the Bible</a>
            <p>06-24-2019 - 1 going</p>
          </div>
        </div>
    </div>
  </div>
