/* You can add global styles to this file, and also import other style files */
.grid{
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-gap: 1em;
  background-color: black;
  width: 1200px;
  margin:auto;
  /* min-height: calc(100vh - 50px); */
  border-radius: 3px;
}
