<div class="TopBar">
  <div class="Title">
    <a href="https://www.beeradvocate.com/" id="logo">
      <img width="200" alt="Beer Advocate"  id="beeradvocate" src="https://cdn.beeradvocate.com/im/beeradvocate-nav-logo.png">
      YOUR GO-TO RESOURCE FOR BEER. | RESPECT BEER
    </a>
    <div class="Menu">
      <div class="NavLeft">
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/community/">FORUMS</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/community/search/?type=post">Search Forums</a>
            <a href="https://www.beeradvocate.com/community/find-new/112238355/posts">Recent Posts</a>
            <a href="https://www.beeradvocate.com/members/">Members</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/beer/">BEERS</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/community/login/?redirect=%2Fuser%2Fbeers%2F">Your Beers</a>
            <a href="https://www.beeradvocate.com/community/login/?redirect=%2Fforms%2Fadd-beer%2F">Add a Beer</a>
            <hr>
            <a href="https://www.beeradvocate.com/beer/">Recent Reviews</a>
            <a href="https://www.beeradvocate.com/beer/styles/">Beer Styles</a>
            <hr>
            <a href="https://www.beeradvocate.com/lists/top/">Top Rated Beers</a>
            <a href="https://www.beeradvocate.com/lists/new/">Top Rated Beers: New</a>
            <a href="https://www.beeradvocate.com/lists/fame/">Beers of Fame</a>
            <a href="https://www.beeradvocate.com/lists/popular/">Most Popular Beers</a>
            <hr>
            <a href="https://www.beeradvocate.com/trading/">Trading</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/trading/">TRADING</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/trading/">Your Trades</a>
            <a href="https://www.beeradvocate.com/community/categories/iso-ft.83/">Post a Trade</a>
            <hr>
            <a href="https://www.beeradvocate.com/community/#trading.81">Forums</a>
            <a href="https://www.beeradvocate.com/community/threads/trading-rules-tips.229/">Rules & Tips</a>
            <a href="https://www.beeradvocate.com/community/threads/trading-feedback-system-explained.185895/">Feedback Help</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/place/">PLACES</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/community/login/?redirect=%2Fuser%2Fplaces%2F">Your Places</a>
            <a href="https://www.beeradvocate.com/community/login/?redirect=%2Ftoolbox%2Fadd_place%2F">Add a Place</a>
            <hr>
            <a href="https://www.beeradvocate.com/place/reviews/">Recent Reviews</a>
            <a href="https://www.beeradvocate.com/place/directory/">Directory</a>
            <a href="https://www.beeradvocate.com/place/nearby/">Nearby</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/events/calendar/">EVENTS</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/community/login/?redirect=%2Fuser%2Fevents%2F">Your Events/Invites</a>
            <a href="https://www.beeradvocate.com/community/login/?redirect=%2Fforms%2Fevents%2F">Add an Event</a>
            <a href="https://www.beeradvocate.com/events/calendar/">Calendar</a>
            <hr>
            <a href="https://www.beeradvocate.com/events/">BeerAdvocate Fests</a>
            <a href="https://www.beeradvocate.com/extreme/">Extreme Beer Fest</a>
            <a href="https://www.beeradvocate.com/funk/">FUNK Boston</a>
            <a href="https://www.beeradvocate.com/ipa/">IPA Fest: Brooklyn</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/articles/">ARTICLES</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/articles/category/food-drink/">Food & Drink</a>
            <a href="https://www.beeradvocate.com/articles/category/history-culture/">History & Culture</a>
            <a href="https://www.beeradvocate.com/articles/category/news/">News</a>
            <a href="https://www.beeradvocate.com/articles/category/opinion/">Opinion</a>
            <a href="https://www.beeradvocate.com/articles/category/people-places/">People & Places</a>
            <a href="https://www.beeradvocate.com/articles/category/science-technology/">Science & Technology</a>
            <a href="https://www.beeradvocate.com/articles/category/travel/">Travel</a>
            <hr>
            <a href="https://www.beeradvocate.com/beer/101/">Beer 101</a>
            <a href="https://www.beeradvocate.com/articles/archive/">Magazine Issue Archive</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/society/">SOCIETY</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/society/">Join</a>
            <hr>
            <a href="https://www.beeradvocate.com/society/members/">Members</a>
            <a href="https://www.beeradvocate.com/community/threads/respect-beer-society-membership-drive-gathering.610904/">Gatherings</a>
          </div>
        </div>
        <div class="dropdown">
          <a class="drops" href="https://www.beeradvocate.com/sponsorship/">SPONSORSHIP</a>
          <div class="dropdown-content">
            <a href="https://www.beeradvocate.com/sponsorship/">Become a Sponsor</a>
            <a href="https://www.beeradvocate.com/sponsorship/thanks/">Our Sponsors</a>
          </div>
        </div>
      </div>
      <div class="NavRight">
        <a href="#">&#x2603; LOG IN</a>
        <a href="#">&#x2656; SIGN UP</a>
      </div>
    </div>
  </div>
</div>
